.taskDescription {
  color: #fff;
  max-width: 450px;
}

.checkMark {
  height: 17.45px;
  width: 17.45px;

  border-radius: 50px;
  border: 2px solid var(--blue);
  background: var(--gray-600);

  cursor: pointer;
}

.checkMark img {
  margin-bottom: 0;
}

.taskLine {
  width: 100%;
  height: 72px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px;
  gap: 12px;

  background: #262626;
  /* Gray 400 */

  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.trashBin {
  background-color: #262626;
  cursor: pointer;
}